Name: Sakshi Ashok Yeram

Branch: CO 

Task 2

Tuple Operation

In [1]:
cities = ["Mumbai","pune","Thane","Nerul",5,"25"]
print(cities)

#list indexing
#           0        1      2        3
names = ["Aditya","Mahek","Divya","Rutuja"]
print(names[2])

#reverse()
number = [1,5,8,2,20,0,-1]
number.reverse() # reverse the list
print(number)

#insert()
number.insert(2,25) #insert index on which position you want to insert
print(number)

#sort()
number.sort(reverse=False)  # true= desending false=asending
print(number)

['Mumbai', 'pune', 'Thane', 'Nerul', 5, '25']
Divya
[-1, 0, 20, 2, 8, 5, 1]
[-1, 0, 25, 20, 2, 8, 5, 1]
[-1, 0, 1, 2, 5, 8, 20, 25]

List Operation

In [3]:
cities = ["Mumbai","pune","Thane","Jalgaon"]
print(cities)

# 1. Append: It means appending the given item in the list
cities.append("Navi mumbai")
print("After Append: ",cities)

# 2. Insert: It means inserting element at given position
cities.insert(2,"Sambhaji Nagar")
print("After Inserting Sambhaji Nagar: ",cities)

# 3. Remove: It means removing any elelment present inside the list
cities.remove("Thane")
print("After Removing Thane",cities)

# 4. pop: It means removing element from given position
cities.pop(1)
print("After pop:",cities)

# 5. reverse: It will reverse the given list
cities.reverse()
print("After Reverse: ",cities)

# 6. copy: It creates an another copy of list
cities2 = cities.copy()
print("After Copy: ",cities2)

# 7. sort
cities.sort(reverse= False)
print("After sort: ",cities)

['Mumbai', 'pune', 'Thane', 'Jalgaon']
After Append:  ['Mumbai', 'pune', 'Thane', 'Jalgaon', 'Navi mumbai']
After Inserting Sambhaji Nagar:  ['Mumbai', 'pune', 'Sambhaji Nagar', 'Thane', 'Jalgaon', 'Navi mumbai']
After Removing Thane ['Mumbai', 'pune', 'Sambhaji Nagar', 'Jalgaon', 'Navi mumbai']
After pop: ['Mumbai', 'Sambhaji Nagar', 'Jalgaon', 'Navi mumbai']
After Reverse:  ['Navi mumbai', 'Jalgaon', 'Sambhaji Nagar', 'Mumbai']
After Copy:  ['Navi mumbai', 'Jalgaon', 'Sambhaji Nagar', 'Mumbai']
After sort:  ['Jalgaon', 'Mumbai', 'Navi mumbai', 'Sambhaji Nagar']

Set Operation

In [6]:
my_set = {1,2,3,4,5,6,7,8,9,10}
print(my_set,type(my_set))

# .add() 
my_set.add(11)
my_set.add(14)

print("After Adding:",my_set)

# .remove() 
my_set.remove(3)
my_set.remove(5)
print("After  removing: ",my_set)

# .update() 
my_set.update([6,9,4])
print("Update: ",my_set)

#.discard()
my_set.discard(22)
print(my_set)

my_set.clear()
print(my_set)

# set operation
# union
#intersection
#difference

a = {1,2,3,4,5}
b = {4,5,6,7,8}

print(a.union(b))
print(a.intersection(b))
print(b.difference(a))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10} <class 'set'>
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 14}
{1, 2, 4, 6, 7, 8, 9, 10, 11, 14}
{1, 2, 4, 6, 7, 8, 9, 10, 11, 14}
{1, 2, 4, 6, 7, 8, 9, 10, 11, 14}
set()
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{8, 6, 7}