Name: Sakshi Ashok Yeram

Branch: CO 

Task 2

Assignment Operator

In [23]:
x = 10
print("x = ",x)

x += 5
print("x += 5 ",x)

x -= 10
print("x -= 10 ",x)

x *= 9
print("x *= 9 ",x)

x /= 2
print("x /= 2 ",x)

x =  10
x += 5  15
x -= 10  5
x *= 9  45
x /= 2  22.5

Bitwise Operator

In [24]:
a = 6
b = 3

# AND
print("a & b = ", a & b)
#OR
print("a | b = ", a | b)
#XOR
print("a ^ b = ", a ^ b)
#NOT
print("~a = ", ~a)
#LEFT SHIFT
print("a << 1 = ", a << 1)
#RIGHT SHIFT
print("a >> 1 = ", a >> 1)

a & b =  2
a | b =  7
a ^ b =  5
~a =  -7
a << 1 =  12
a >> 1 =  3

String Operation

In [73]:
text = "Welcome to python programming !"
print(text)

#1.strip() strip the extra space
print("1. strip: ",text.strip())

#2.title() convert first letter of every word in uppercase
print("2. title: ",text.title())

#3.replace() replace into given word
print("3. replace:",text.replace("python","Java"))

#4.find find thw index of given word
print("4. find:",text.find("to"))

name = "sakshi123"
#5.isalpha true if only characters are present
print("5. isalpha: ",name.isalpha())

#6.isalnum true when chracter and numbers any one of this is present
print("6. isalnum: ",name.isalnum())

#7.startswith
print("7. startswith:",text.startswith("Wel"))

#8. endswith
print("8.endswith: ",name.endswith("ing"))

#9.split
print("9.split: ",text.split())

Welcome to python programming !
1. strip:  Welcome to python programming !
2. title:  Welcome To Python Programming !
3. replace: Welcome to Java programming !
4. find: 8
5. isalpha:  False
6. isalnum:  True
7. startswith: True
8.endswith:  False
9.split:  ['Welcome', 'to', 'python', 'programming', '!']

Tuple Operation

In [1]:
cities = ["Mumbai","pune","Thane","Nerul",5,"25"]
print(cities)

#list indexing
#           0        1      2        3
names = ["Aditya","Mahek","Divya","Rutuja"]
print(names[2])

#reverse()
number = [1,5,8,2,20,0,-1]
number.reverse() # reverse the list
print(number)

#insert()
number.insert(2,25) #insert index on which position you want to insert
print(number)

#sort()
number.sort(reverse=False)  # true= desending false=asending
print(number)

['Mumbai', 'pune', 'Thane', 'Nerul', 5, '25']
Divya
[-1, 0, 20, 2, 8, 5, 1]
[-1, 0, 25, 20, 2, 8, 5, 1]
[-1, 0, 1, 2, 5, 8, 20, 25]

List Operation

In [3]:
cities = ["Mumbai","pune","Thane","Jalgaon"]
print(cities)

# 1. Append: It means appending the given item in the list
cities.append("Navi mumbai")
print("After Append: ",cities)

# 2. Insert: It means inserting element at given position
cities.insert(2,"Sambhaji Nagar")
print("After Inserting Sambhaji Nagar: ",cities)

# 3. Remove: It means removing any elelment present inside the list
cities.remove("Thane")
print("After Removing Thane",cities)

# 4. pop: It means removing element from given position
cities.pop(1)
print("After pop:",cities)

# 5. reverse: It will reverse the given list
cities.reverse()
print("After Reverse: ",cities)

# 6. copy: It creates an another copy of list
cities2 = cities.copy()
print("After Copy: ",cities2)

# 7. sort
cities.sort(reverse= False)
print("After sort: ",cities)

['Mumbai', 'pune', 'Thane', 'Jalgaon']
After Append:  ['Mumbai', 'pune', 'Thane', 'Jalgaon', 'Navi mumbai']
After Inserting Sambhaji Nagar:  ['Mumbai', 'pune', 'Sambhaji Nagar', 'Thane', 'Jalgaon', 'Navi mumbai']
After Removing Thane ['Mumbai', 'pune', 'Sambhaji Nagar', 'Jalgaon', 'Navi mumbai']
After pop: ['Mumbai', 'Sambhaji Nagar', 'Jalgaon', 'Navi mumbai']
After Reverse:  ['Navi mumbai', 'Jalgaon', 'Sambhaji Nagar', 'Mumbai']
After Copy:  ['Navi mumbai', 'Jalgaon', 'Sambhaji Nagar', 'Mumbai']
After sort:  ['Jalgaon', 'Mumbai', 'Navi mumbai', 'Sambhaji Nagar']